.updateUser{
    h3{
        margin-bottom: 40px;
        text-align: center;
        color: rgb(255, 81, 0);
        margin-top: 20px;
        font-size: 20px
    }
    .form{
        width: 50%;
        margin: 0 auto;
    }
}